$l-blue:#C8CCE1;
$ll-blue:#D6D9EC;
$blue:#9BA3D4;
$d-blue:#6776C2;
$dd-blue:#3D4EAF;
@mixin psit{
  position: absolute;
}
body{
  background-color:rgb(221, 221, 221);
  font-family: Helvetica;
  color: white;
}
.white-bcg{
  @include psit;
  left: 400px;
  top:150px;
  width:440px;
  height: 340px;
  background: white;
}
.blue-bcg{
  @include psit;
  width:400px;
  height: 300px;
  margin: 20px;
  background: $d-blue;
}
.Log-frame{
  position: relative;
  width:400px;
  height: 38px;
  margin-top: 25px;
  background: $dd-blue;
  text-align: center;
  letter-spacing: 1px;
}
#Login{
   height: 28px;
   width: 100px;
   padding: 10px 150px;
   top: 0;
   background-color: $dd-blue;
   border: none;
   color: white;
   font-size: 18px;
   cursor: pointer;
   text-align: center;
}
#forget{
  text-decoration: none;
  p{
    margin: 20px 60px 0 0;
    text-align: right;
    font-size: 12px;
    color: $dd-blue;
  }
}
#sign{
  margin: 20px 0 10px 0;
  font-size: 18px;
  text-align: center;
}
label{
  @include psit;
  //margin: auto;
  display: block;
  font-size: 17px;
  height: 20px;
  margin: 5px;
  bottom: 0;
  cursor: pointer;
  transition: 0.3s all;
//  transition-delay: 0.2s;
}
.group {
  position: relative;
  width: 280px;
  height: 61px;
  margin: auto;
  //background: url(../pics/text.jpg) no-repeat left;
//  background-color: white;
  border: none;
  margin-top: 15px;
  border-radius: 6px;
}
input{
  position: absolute;
  display: block;
  top: 61px;
  width: 80%;
  height: 3px;
  padding:0px 10px 0px 40px;
  float: right;
  border: none;
  border-radius: 6px;
  outline: none;
  letter-spacing: 1px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3)
}
.label_up{
    bottom: 38px;
    font-size: 12px;
    color: $ll-blue;
    transition-duration: 0.4s;
    animation: font-change 0.2s;
    animation-delay: 0.3s;
    animation-fill-mode: forwards;
}
.text_bcg{
  background: url(../pics/text.jpg) no-repeat left;
  @extend .frame-change;
}
.password_bcg{
  background: url(../pics/password.jpg) no-repeat left;
  @extend .frame-change;
}
.frame-change{
  animation: higher 0.4s;
  animation-fill-mode:forwards;
  background-color: white;
  background-size: 30px 30px;
  background-position-x: 4px;
}
.Login_smaller{
  animation: smaller 0.4s;
  animation-fill-mode: forwards;
}
.right{
  @include psit;
  height: 10px;
  width: 400px;
  bottom: 0px;
  background: $dd-blue;
}
.right_bcg{
  animation: right_pass 0.3s;
  animation-delay: 0.3s;
  animation-fill-mode: forwards;
}
.duigou{
  @include psit;
  top: 110px;
  left: 180px;
  height: 50px;
  width: 0px;
  background: url(../pics/abc.png) no-repeat ;
  background-size: 50px 50px;
}
.duigou_add{
  width: 50px;
  transition:  0.4s ;
  transition-delay: 0.4s;
}
@keyframes font-change {
  from{ bottom: 37px;}
  to{
    bottom: 32px;
    font-size: 10px;
    //box-shadow: 1px 1px 10px rgb(148, 148, 148);
  }
}
@keyframes smaller {
  from{font-size: 18px;}
  to{
    transform: scale(0.7);
    //box-shadow: 1px 1px 10px rgb(148, 148, 148);
  }
  25%  {opacity: 0.9}
  50%  {opacity: 0.8}
  100% {opacity: 0.6}
}
@keyframes higher {
  from{   height: 3px;}
  to{
      height: 44px;
      top:20px;
     }
}
@keyframes right_pass {
  from{ height: 10px;}
  to{
    height: 300px;
  }
}
