body {
  background-color: #dddddd;
  font-family: Helvetica;
  color: white; }

.white-bcg {
  position: absolute;
  left: 400px;
  top: 150px;
  width: 440px;
  height: 340px;
  background: white; }

.blue-bcg {
  position: absolute;
  width: 400px;
  height: 300px;
  margin: 20px;
  background: #6776C2; }

.Log-frame {
  position: relative;
  width: 400px;
  height: 38px;
  margin-top: 25px;
  background: #3D4EAF;
  text-align: center;
  letter-spacing: 1px; }

#Login {
  margin: 10px;
  width: 80px;
  font-size: 18px;
  border: none;
  background-color: #3D4EAF;
  color: white;
  outline: none;
  cursor: pointer; }

#forget {
  text-decoration: none; }
  #forget p {
    margin: 20px 60px 0 0;
    text-align: right;
    font-size: 12px;
    color: #3D4EAF; }

#sign {
  margin: 20px 0 10px 0;
  font-size: 18px;
  text-align: center; }

label {
  position: absolute;
  display: block;
  font-size: 17px;
  height: 20px;
  margin: 5px;
  bottom: 0;
  cursor: pointer;
  transition: 0.3s all; }

.group {
  position: relative;
  width: 280px;
  height: 61px;
  margin: auto;
  border: none;
  margin-top: 15px;
  border-radius: 6px; }

input {
  position: absolute;
  display: block;
  top: 61px;
  width: 80%;
  height: 3px;
  padding: 0px 10px 0px 40px;
  float: right;
  border: none;
  border-radius: 6px;
  outline: none;
  letter-spacing: 1px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3); }

input:focus ~ label, input:valid ~ label {
  top: -6px;
  font-size: 13px;
  color: #D6D9EC;
  animation: font-change 0.3s;
  animation-delay: 0.2s;
  animation-fill-mode: forwards; }

input#email-val:focus, input#email-val:valid {
  background: url(../pics/text.jpg) no-repeat left; }

input#psw-val:focus, input#psw-val:valid {
  background: url(../pics/password.jpg) no-repeat left; }

.frame-change, input#email-val:focus, input#email-val:valid, input#psw-val:focus, input#psw-val:valid {
  animation: higher 0.5s;
  animation-fill-mode: forwards;
  background-color: white;
  background-size: 30px 30px;
  background-position-x: 4px; }

.Login_smaller {
  animation: smaller 0.3s;
  animation-fill-mode: forwards; }

.right {
  position: absolute;
  height: 10px;
  width: 400px;
  bottom: 0px;
  background: #3D4EAF; }

.right_bcg {
  animation: right_pass 0.3s;
  animation-delay: 0.3s;
  animation-fill-mode: forwards; }

.duigou {
  position: absolute;
  top: 110px;
  left: 180px;
  height: 50px;
  width: 0px;
  background: url(../pics/abc.png) no-repeat;
  background-size: 50px 50px; }

.duigou_add {
  width: 50px;
  transition: 0.4s;
  transition-delay: 0.4s; }

@keyframes font-change {
  from {
    top: -6px; }
  to {
    top: -2px; } }
@keyframes smaller {
  from {
    font-size: 18px; }
  to {
    transform: scale(0.7); }
  25% {
    opacity: 0.9; }
  50% {
    opacity: 0.8; }
  100% {
    opacity: 0.6; } }
@keyframes higher {
  from {
    height: 3px; }
  to {
    height: 44px;
    top: 20px; } }
@keyframes right_pass {
  from {
    height: 10px; }
  to {
    height: 300px; } }

/*# sourceMappingURL=MD_Form.css.map */
